.babelrc
.babelrc.js
.DS_Store
.gitignore
.yarn.lock

*.log
*.tsbuildinfo
*.tgz

README.md
rollup.config.js
web-test-runner.config.mjs
tsconfig.json
webpack.config.js
yarn-error.log
*~

/.git
/.github
/.gitattributes

/node_modules
/playground
/src
/test
/coverage
/assets
